<div class="stepper">
  <button
    [ngStyle]="{ visibility: isGoBackAvailable ? 'visible' : 'hidden' }"
    mat-raised-button
    class="stepper__prev"
    (click)="goBackHandler()"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
    Previous
  </button>

  <button
    [ngStyle]="{
      visibility: isGoForwardAvailable ? 'visible' : 'hidden'
    }"
    mat-raised-button
    color="accent"
    class="stepper__next"
    (click)="goForwardHandler()"
  >
    Next
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
