<div class="exercise-plurals" *ngIf="data.content[currentIdx] as current">
  <img [src]="current.image" alt="" />
  <span>{{ current.word }}</span>

  <img [src]="current.imagePlural" alt="" />
  <span>
    {{ current._wordWithoutSuffix
    }}<span class="exercise-plurals__suffix">{{ current.suffix }}</span>
  </span>

  <app-stepper
    class="exercise-plurals__stepper"
    [isGoBackAvailable]="currentIdx > 0"
    [isGoForwardAvailable]="currentIdx < data.content.length - 1"
    (goBack)="goPrevHandler()"
    (goForward)="goNextHandler()"
  ></app-stepper>
</div>
