.exercise-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  height: 70vh;

  &__insert {
    display: inline-block;
    height: 1.3em;
    color: rgb(158, 219, 66);

    &:empty {
      width: 1em;
      margin-bottom: -0.1em;
      border-bottom: 2px solid black;
    }
  }

  &__answers-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

  .correct {
    background-color: greenyellow;
  }

  .wrong {
    background-color: red;
  }
}
